<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Продвижение, разработка и ведение вашего сайта по приемлемой цене!">
  <link rel="canonical" href="https://seo.codeunion.kz/">
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
  <link rel="preload" as="font" type="font/woff2" href="./fonts/SFProDisplay-Light.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="./fonts/SFProDisplay-LightItalic.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="./fonts/SFProDisplay-Medium.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="./fonts/SFProDisplay-Semibold.woff2" crossorigin>
  <link rel="stylesheet" href="css/libs.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
  <title>SEO Продвижение - codeunion</title>
</head>