<header class="header">
    <div class="header__wrapper">
        <nav class="header__nav-wrapper">
            <div class="logo">
                <a class="logo" href="index.html">
                    codeunion
                </a>
            </div>
            <ul class="header__nav">
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#promotion">
                        Главная
                    </a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#why">
                        Для чего?
                    </a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#services">
                        Услуги
                    </a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#price">
                        Цены
                    </a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#trust">
                        Нам доверяют
                    </a>
                </li>
            </ul>
        </nav>
        <button class="main-button header__popup popup-btn">
            Оставить заявку
        </button>
        <button class="header__burger">
            <span></span>
        </button>
    </div>
</header>