<header class="header">
    <div class="header__wrapper">
        <ul class="header__nav">
            <li class="header__nav-item">
                <a class="header__nav-item-link logo" href="index.html">
                    codeunion
                </a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-item-link" href="#promotion">
                    Главная
                </a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-item-link" href="#why">
                    Для чего?
                </a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-item-link" href="#price">
                    Цены
                </a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-item-link" href="#">
                    Почему мы?
                </a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-item-link" href="#trust">
                    Нам доверяют
                </a>
            </li>
        </ul>
        <button class="main-button header__popup popup-btn">
            Оставить заявку
        </button>
    </div>
</header>