<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <meta name="description" content="Настройка контекстной рекламы и SEO оптимизация. Доверьтесь профессионалам.">
  <link rel="canonical" href="https://seo.codeunion.kz/">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap"
    rel="stylesheet">
  <link rel="preload" as="font" type="font/woff2" href="./fonts/SFProDisplay-Light.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="./fonts/SFProDisplay-LightItalic.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="./fonts/SFProDisplay-Medium.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="./fonts/SFProDisplay-Semibold.woff2" crossorigin>
  <link rel="stylesheet" href="css/libs.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
  <title>SEO Продвижение - codeunion</title>
</head>