html {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  scroll-behavior: smooth;

}

body {
  height: -webkit-fill-available;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
  position: relative;
  overflow: hidden;

  &.blur {
    filter: blur(50px);
    z-index: -1;
  }
  &.fp-viewing-fp-viewing-0{
    .header,.footer{
      background-color: rgba(0, 0, 0, .5);
    }
  }
  &.fp-viewing-fp-viewing-2 {
    .footer {
      bottom: 100px;
      opacity: 0;
      visibility: hidden;
    }
  }

  &.fp-viewing-fp-viewing-1 {
    .section-bg {
      -webkit-appearance: none;
      appearance: none;
    }
  }

  &.fp-viewing-fp-viewing-2,
  &.fp-viewing-fp-viewing-3 {

    .header,
    .footer {
      color: #000;
    }

    .header {
      &__nav-item::after {
        background-color: #000;
      }
    }

    .main-button {
      border: 1px solid #000;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }

  &.fp-viewing-fp-viewing-3 {
    .footer {
      bottom: 100px;
    }
  }
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus,
input:focus {
  outline: transparent;
}

button {
  outline: none;
  cursor: pointer;
}

li {
  list-style: none;
}

// BG VIDEO
.section-bg {
  position: absolute;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: -1;
}

.container {
  width: 1410px;
  margin: 0 auto;
}

.main-button {
  font-weight: 300;
  font-family: "SF-Pro", sans-serif;
  background: transparent;
  color: inherit;
  border: 1px solid #FFFFFF;
  padding: 12px 60px;
  font-size: 19px;
  line-height: 25px;
  transition: all .3s;
  overflow: visible;
  border-radius: 3px;

  &:hover {
    background-color: #fff;
    color: #000;

  }
}

.page-section {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  height: 100%;
}



.title {
  font-family: "SF-Pro", sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 1.15;

}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.paragraph {
  font-weight: 300;
  font-size: 17px;
  line-height: 142.69%;
}